@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #ededed;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.react-flow__handle {
  visibility: hidden !important;
  pointer-events: none !important;
  cursor: default !important;
}

.react-flow__edge {
  pointer-events: none !important;
  cursor: default !important;
}